body {
    background-color: rgb(46, 234, 46);
}

div {
    height: 100px;
    width: 300px;
    padding: 10px;
    margin: 3px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}